.img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.img img {
  height: 40px;
}
.main_div {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}
.card {
  background-color: wheat;
  width: 300px;
  padding: 1rem;
}
.chart {
  width: 85%;
  margin: 0 auto;
}
.select_form {
  width: 160px;
  margin: 0 auto;
}
